{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Your Password</strong>
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <form action="{% url 'change_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Current Password</label>
                                <input type="password" class="form-control" name="current_password" placeholder="Current Password" required>
                            </div>

                            <div class="form-group">
                                <label for="">Create New Password</label>
                                <input type="password" class="form-control" name="new_password" placeholder="Create New Password" required>
                            </div>

                            <div class="form-group">
                                <label for="">Confirm New Password</label>
                                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm New Password" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->

            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock %}